@import 'bootstrap/dist/css/bootstrap.min.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;

}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-the-docs {
  color: #888;
}

.hero-section {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.hero-overlay {
    height: 100%;
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0.3);
}

.destination-carousel {
    max-width: 100%;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
}

.carousel-container .carousel-inner {
    display: flex;
    justify-content: space-between;
}

.carousel-card {
    display: inline-block;
    flex: 1 0 auto;;
    margin: 5px;
    scroll-snap-align: start;
    width: 400px;
    height: 600px;
    overflow: hidden;
}

.carousel-card .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6.5em;
}

.hero-overlay h1 {
    color: white;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    cursor: pointer;
    margin: 0 1em;
    padding: 0.5em 1em;
    transition: background 0.3s;
    font-size: 24px;
}

.carousel-button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.carousel-with-nav {
    position: relative;
}

.carousel-nav-icon {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: black;
    z-index: 10;
    cursor: pointer;
}

.carousel-nav-icon.left {
    left: 10px;
}

.carousel-nav-icon.right {
    right: 10px;
}

.carousel-card-img {
    height: 150px;
    object-fit: cover;
}
